<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>基础测试题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>测试题1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>测试题10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>测试题2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>测试题3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>测试题4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>测试题5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>测试题6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>测试题7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>测试题8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>测试题9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>712F8DCC1A11B5D400137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E0C1A11BED900137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E171A11BF2B00137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E221A11BFD800137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E2D1A11C26900137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E381A11DC9600137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E431A11FCA000137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E4E1A1210A600137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E591A12394200137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E641A123B7100137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F8E6F1A123E6400137E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
