<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>基础测试题(毛翠).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>题目一.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>题目七.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>题目三.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>题目九.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>题目二.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>题目五.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>题目八.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>题目六.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>题目十.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>题目四.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64AC32721A0CF72F00900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32841A0CF7F000900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32911A0CF80800900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC329E1A0CF81500900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32AB1A0CF82B00900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32B81A0CF83D00900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32C51A0CF88900900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32D21A0CF89600900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32DF1A0CF8A200900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32EC1A0CF8AE00900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64AC32F91A0CF8BF00900B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
