<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>入学考试题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>测试题5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>测试题6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>测试题7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>考试题1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>考试题10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>考试题2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>考试题3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>考试题4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>考试题8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>考试题9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71E627F81A15CAD5008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628061A15CAF7008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628111A15D66D008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E6281C1A15D9E0008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628271A15E08C008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628321A15E0FC008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628401A15FA41008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E6284B1A16054B008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E6285E1A160C21008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628691A160DDE008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E628741A161D78008420D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
